body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1F2937;
    color: white;
    padding: 0 100px 0 100px;
}

.header-logo {
    font-size: 24px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
}

li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}



/* Main Content */
.content {
    display: flex;
    flex-direction: column;
}

/* Hero */
.hero {
    display: flex;
    justify-content: center;
    gap: 48px;

    padding: 70px 100px 70px 100px;
    background-color: #1F2937;
    color: white;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.signup-btn {
    padding: 12px 36px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px; 
    font-weight: 600;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
}

.right-side img {
    border-radius: 10px;
}



/* Section 2 */
.section-two {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 48px;
    gap: 32px;
}

.image-slide {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info img {
    border-radius: 10px;
}

.info p {
    text-align: center;
}

.section-two h2 {
    margin: 0;
}



/* Section 3 */
.section-three {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 70px 100px 70px 100px;
    background-color: #E5E7EB;
}

.section-three .quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    align-self: center;
    margin: 0;
}

.section-three .author {
    flex: 1;
    font-size: 18px;
    font-weight: 800;
    align-self: flex-end;
    margin: 0;
}



/* Section 4 */
.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 100px 70px 100px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 32px 56px;
    gap: 32px;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.signup-btn-two {
    padding: 8px 32px;
    align-self: center;
    background-color: #3882f6;
    border: solid 2px white;
    border-radius: 10px;
    color: white;
}

p.p1 {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}

p.p2 {
    font-size: 17px;
    font-weight: lighter;
    margin: 0;
}



/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    background-color: #1F2937;
    color: white;
}



/* Responsiveness */
.hero, .image-slide, .box {
    flex-wrap: wrap;
}