body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1F2937;
    color: white;
    padding: 0 100px 0 100px;
}

.header-logo {
    font-size: 24px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
}

li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}



/* Main Content */
.content {
    display: flex;
    flex-direction: column;
}

/* Hero */
.hero {
    display: flex;
    gap: 32px;

    padding: 70px 100px 70px 100px;
    background-color: #1F2937;
    color: white;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-btn {
    padding: 12px 36px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

/* Section Two */
.section-two {
    display: flex;
    flex-direction: column;
}

.image-slide {
    display: flex;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1F2937;
    color: white;
}